<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.ssm.dao.BillDao">
    <select id="getBillList" resultMap="BillList">
        select b.*,p.proName from smbms_bill b inner join smbms_provider p on b.providerId=p.id where 1=1
        <if test="productName!=null and productName!=''">
            and b.productName like concat('%',#{productName},'%')
        </if>
        <if test="providerId!=null and providerId!=''">
            and b.providerId= #{providerId}
        </if>
        <if test="isPayment!=null and isPayment!=''">
            and b.isPayment= #{isPayment}
        </if>
        limit #{pageNo},#{pageSize}
    </select>

    <select id="getBillCount" resultType="int">
        select count(1) from smbms_bill p where 1=1
        <choose>
            <when test="productName!=null and productName!=''"> and p.productName like concat('%',#{productName},'%')</when>
            <when test="providerId!=null and providerId!=''"> and providerId= #{providerId}</when>
            <when test="isPayment!=null and isPayment!=''"> and isPayment= #{isPayment}</when>

        </choose>
    </select>
    <select id="getProviderAll" resultType="Provider">
        select * from smbms_provider
    </select>
    <select id="getBillById" resultMap="BillList">
        select b.*,p.proName from smbms_bill b inner join smbms_provider p on b.providerId=p.id where b.id=#{id}
    </select>
    <update id="updateBill" parameterType="Bill">
        update smbms_bill
        <set>
            <if test="billCode!=null and billCode!=''">billCode=#{billCode},</if>
            <if test="productName!=null and productName=''">productName=#{productName},</if>
            <if test="productUnit!=null and productUnit=''">productUnit=#{productUnit},</if>
            <if test="productCount!=null">productCount=#{productCount},</if>
            <if test="totalPrice!=null">totalPrice=#{totalPrice},</if>
            <if test="providerId!=null">providerId=#{providerId},</if>
            <if test="isPayment!=null">isPayment=#{isPayment},</if>
            <if test="modifyBy!=null">modifyBy=#{modifyBy},</if>
            <if test="modifyDate!=null">modifyDate=#{modifyDate}</if>
        </set>
        where id=#{id}
    </update>
    <resultMap id="BillList" type="Bill">
    <id property="id" column="id"/>
    <result property="billCode" column="billCode"/>
    <result property="productName" column="productName"/>
    <result property="productDesc" column="productDesc"/>
    <result property="productUnit" column="productUnit"/>
    <result property="productCount" column="productCount"/>
    <result property="totalPrice" column="totalPrice"/>
    <result property="isPayment" column="isPayment"/>
    <result property="createdBy" column="createdBy"/>
    <result property="creationDate" column="creationDate"/>
    <result property="modifyDate" column="modifyDate"/>
    <result property="modifyBy" column="modifyBy"/>
    <result property="providerId" column="providerId"/>
    <result property="providerName" column="proName"></result>
    <association property="provider" javaType="Provider">
        <id property="id" column="id"></id>
        <result property="proName" column="proName"></result>
    </association>
</resultMap>
    <resultMap id="ProviderList" type="Provider">
        <id property="id" column="id"/>
        <result property="proCode" column="proCode"/>
        <result property="proName" column="proName"/>
        <result property="proDesc" column="proDesc"/>
        <result property="proContact" column="proContact"/>
        <result property="proPhone" column="proPhone"/>
        <result property="proAddress" column="proAddress"/>
        <result property="proFax" column="proFax"/>
        <result property="createdBy" column="createdBy"/>
        <result property="creationDate" column="creationDate"/>
        <result property="modifyDate" column="modifyDate"/>
        <result property="modifyBy" column="modifyBy"/>
    </resultMap>


</mapper>